<h1 class="text-center">Details Collecte {{ collecte.id }}</h1>
<div class=" row d-flex justify-content-center text-center">
  <div class="col-md-12">
    Projet crée par :
    <b>{{ collecte.nom}} - {{collecte.status}}</b>
  </div>
  <div class="col-sm-12">
    Date création : <b> {{collecte.dateDebut}}</b>
  </div>
  <div class="col-sm-12">
    Architecte en charge  : <b> {{collecte.architecte.nom}} {{collecte.architecte.prenom}} -- {{collecte.architecte.email}}</b>
  </div>
</div>




<app-application></app-application>

