<h1>Listes de Collectes</h1>
<button class="btn btn-success" (click)="onNewCollecte()" >nouvelle collecte</button>

<div class="d-flex justify-content-center">
  <div class=" col-sm-8 table-responsive">
  <table class="table table-striped projects">
    <thead>
      <tr>
        <th>
          collecte
        </th>
        <th>
          Architecte
        </th>
        <th>
          Status
        </th>
        <th class="text-center">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collecte of collectes" >
        <td>
          {{collecte.nom}}
        </td>
        <td>
          {{collecte.architecte.prenom}}  {{collecte.architecte.nom | uppercase}}
        </td>
        <td>
          <span class="badge badge-success">{{collecte.status}}</span>
        </td>
        <td class="d-flex justify-content-around">
          <a class="btn btn-primary btn-sm" (click)="onGoDetails(collecte.id)">
            <i class="fas fa-folder">
            </i>
            Details
          </a>
          <a class="btn btn-info btn-sm"(click)="onEditCollecte(collecte.id)">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
          </a>
          <a class="btn btn-danger btn-sm" href="#">
            <i class="fas fa-trash">
            </i>
            Delete
          </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>
</div>
